:root {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'verta', 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  display: flex;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

:root,
body {
  background-color: rgb(0, 29, 73);
}

#root,
.root {
  flex: 1;

  display: flex;
  flex-direction: column;
  flex-flow: nowrap;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: inherit;
}

a.visited {
  text-decoration: none;
}

svg {
  display: inline-block;
  overflow: visible;
}
