# dependencies
node_modules

# production
/build

# ts output
server/lib

# ides
.idea

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log*
*.iml
.vscode

.DS_Store

# Helm
*.tgz
requirements.lock

# temporary ignore
/simulator
