# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.4

    working_directory: ~/repo

    # branches:
    #   ignore:
    #     - deployment

    steps:
      - checkout
      # check about "save_cache | store cache" options in steps.
      # Download and cache dependencies
      # - restore_cache:
      #     keys:
      #     - v1-dependencies-{{ checksum "package.json" }}
      #     # fallback to using the latest cache if no exact match is found
      #     - v1-dependencies-

      - run: sudo npm install --global lerna
      - run: yarn install
      - run: yarn run bootstrap

      # - save_cache:
      #     paths:
      #       - node_modules
      #     key: v1-dependencies-{{ checksum "package.json" }}

      # Run tests (Client tests fails.)
      # Run SERVER tests.
      - run: |
          cd ~/repo/server &&
          yarn cache clean &&
          yarn &&
          yarn run build
      # Build and tag client and server docker images
      # - run: |
      #   cd ~/repo &&
      #   docker build --no-cache -t eu.gcr.io/adaptive-reactive-analytics/reactive-analytics-server:dev -f server/Dockerfile --build-arg DOMAIN_NAME="dev-reactive-analytics.adaptivecluster.com" .
      #   docker build --no-cache -t eu.gcr.io/adaptive-reactive-analytics/reactive-analytics-client:dev -f client/Dockerfile --build-arg DOMAIN_NAME="dev-reactive-analytics.adaptivecluster.com" .
      # Push docker images to Google Container Registry
      #   docker push eu.gcr.io/adaptive-reactive-analytics/reactive-analytics-server:dev
      #   docker push eu.gcr.io/adaptive-reactive-analytics/reactive-analytics-client:dev
      # Execute deploy/install-chart.sh with parameters for deploying on k8s cluster as dev environment
      #
