{
  "sourceMaps": "both",
  "plugins": [
    "babel-plugin-inline-import"
  ],
  "presets": [
    ["@babel/preset-env", {
      "shippedProposals": true,
      "targets": {
        "node": "current"
      }
    }]
  ]
}
