@import '../variables.css';

.app-header {
  height: 50px;
  background-color: var(--main-nav-bg-color);
  padding: 0 30px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    & .logo {
      max-height: 54%;
      max-width: 100%;
    }

    & .title {
      margin: 0;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold;
    }
  }
}